.menu__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-gray);
  font-family: var(--font-base);
  width: 100vw;
  min-height: 100vh;
  color: aliceblue;
  padding: 6rem 2rem;
  gap: 1rem;
}

.menu__submenus {
  display: flex;
  gap: 2rem;
}

@media screen and (max-width: 640px) {
  .menu__submenus {
    flex-direction: column;
  }
}